#appliancesContainer {
	width: 100%;
	height: 250px;

	display: flex;
	flex-direction: column;

}

#appliancesTitle {
    margin-left: 5px;
    display: flex;
}

#appliancesTitle i {
    margin-left: 10px;
    margin-top: 9px;

    font-size: 19px;
}

#appliancesBody {
	height: max-content;
	padding: 0 5px;

    display: grid;

	grid-template-columns: 130px 130px 130px;
    column-gap: 6px;
    row-gap: 10px;
}

.appliances-item {
	height: 130px;
	width: 120px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    flex-shrink: 0;

	background: var(--background-accent);

	border-radius: 5px;
	padding: 5px;
	margin-right: 15px;
}

.appliances-item-image{
	display: flex;
	align-content: center;
}

.appliances-item-title {
	display: flex;
	flex-direction: column;

    text-align: center;
    padding-top: 10px;
}

#appliancename-input{
	width: 75%;
	background: var(--background-accent);
	border-width: 0px;

	border-radius: 5px;
	text-align: center;
	color: white;
	margin: 5px;
}

#appliancename-input::placeholder{
	color: white;
}

#createApplianceModal .modal-body{
	background: var(--background-color);
	border-color: var(--background-accent);
}

#createApplianceModal .modal-header{
	background: var(--background-color);
	border-color: var(--background-accent);
}

#createApplianceModal .modal-footer{
	background: var(--background-color);
	border-color: var(--background-accent);
	border-bottom-width: 0px;
}

#createApplianceBtn{
	border-width: 0px;
}

.closeApplianceModalBtn{
	border-width: 0px;
	color: white;
	text-align: left;
}

#iconsdropdownbutton {
	width: 75%;
	background-color: var(--background-accent);
	border-width: 0px;
	color: white;
	margin: 5px;

	border-radius: 5px;
}

.dropdown-menu {
	width: 75%;
}

.modaltwocolumn {
	display: flex;
	flex-direction: row;
}

#createPreviewBtn {
	background-color: var(--background-accent);
	border-width: 0;
}