:root {
	--background: #F6F0EA;
	--calltoaction: #FF715B;
	--accent: #1EA896;
	--majortext: #4C5454;
	--text: #FFFFFF;
	background-color: var(--background);
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--background) !important;
	color: var(--majortext);

	padding: .5px .5px;
	position: relative;

	font-size: 2vw;

	overflow-x: hidden;
}

::-webkit-scrollbar {
	margin-top: 5px;
	height: 4px;
}

input{
	width: 100%;
	background: var(--white);

	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;

	border-bottom-color: black;

	color: var(--other);

	margin-bottom: 20px;
}

input:focus{
	outline: none;
}

button{
	border-radius: 8px;
	background-color: var(--accent);
	color: var(--text);
	border-width: 0;

	height: 35px;
}

.usercorner {
	width: 25px;
	height: 25px;

	border-radius: 100px;
}

.fas.fa-2x.fa-plus-circle.add {
	color: var(--text);
}

#wrapper {
	display: flex;
	flex-direction: row;
}

#home_page {
	border-style: solid;
	border-color: blue;

	width: 56.2rem;
    flex-shrink: 0;
}

#user_page {
	border-style: solid;
	border-color: red;

	width: 56.2rem;
    flex-shrink: 0;
}



@keyframes slidetotheleft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slidetotheright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slidefromtheleft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slidefromtheright {
    from {
        transform: translateX(100%);
    }
    to {
		transform: translateX(0);
	}
}