:root {
	--background: #F6F0EA;
	--calltoaction: #FF715B;
	--accent: #1EA896;
	--majortext: #4C5454;
	--text: #FFFFFF;

}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--background);
	color: var(--majortext);

	padding: .5px .5px;
	position: relative;
}

::-webkit-scrollbar {
	margin-top: 5px;
	height: 4px;
}

input{
	width: 100%;
	background: var(--white);

	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;

	border-bottom-color: black;

	color: var(--other);

	margin-bottom: 20px;
}

input:focus{
	outline: none;
}

button{
	border-radius: 8px;
	background-color: var(--accent);
	color: var(--text);
	border-width: 0;

	height: 35px;
}

.usercorner {
	width: 25px;
	height: 25px;

	border-radius: 100px;
}

.fas.fa-2x.fa-plus-circle.add {
	color: var(--text);
}

#home_page {
	clip-path: circle(0% at 50% 50%);
	transition: clip-path 1s ease-in-out;
}