:root {
	--background-color: #1f253d;
	--background-accent: #394264;
}

body {
	font-family: 'ambleregular';
	background: var(--background-color);
	padding: .5px .5px;
	position: relative;
}

.navbar {
	background: var(--background-accent);
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;

	border-style: solid;
	border-color: red;
	border-width: thin;
}